@keyframes ldio-2xkr1jfdtd9 {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(0.6900000000000001,0.6900000000000001);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
  }
  .ldio-2xkr1jfdtd9 div > div {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #c5c02c;
    animation: ldio-2xkr1jfdtd9 1s linear infinite;
  }.ldio-2xkr1jfdtd9 div:nth-child(1) > div {
    left: 138px;
    top: 94px;
    animation-delay: -0.9333333333333333s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 144px 100px;
  }.ldio-2xkr1jfdtd9 div:nth-child(2) > div {
    left: 134px;
    top: 112px;
    animation-delay: -0.8666666666666667s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(2) {
    transform: rotate(24deg);
    transform-origin: 140px 118px;
  }.ldio-2xkr1jfdtd9 div:nth-child(3) > div {
    left: 123px;
    top: 127px;
    animation-delay: -0.8s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(3) {
    transform: rotate(48deg);
    transform-origin: 129px 133px;
  }.ldio-2xkr1jfdtd9 div:nth-child(4) > div {
    left: 108px;
    top: 136px;
    animation-delay: -0.7333333333333333s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(4) {
    transform: rotate(72deg);
    transform-origin: 114px 142px;
  }.ldio-2xkr1jfdtd9 div:nth-child(5) > div {
    left: 89px;
    top: 138px;
    animation-delay: -0.6666666666666666s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(5) {
    transform: rotate(96deg);
    transform-origin: 95px 144px;
  }.ldio-2xkr1jfdtd9 div:nth-child(6) > div {
    left: 72px;
    top: 132px;
    animation-delay: -0.6s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(6) {
    transform: rotate(120deg);
    transform-origin: 78px 138px;
  }.ldio-2xkr1jfdtd9 div:nth-child(7) > div {
    left: 58px;
    top: 120px;
    animation-delay: -0.5333333333333333s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(7) {
    transform: rotate(144deg);
    transform-origin: 64px 126px;
  }.ldio-2xkr1jfdtd9 div:nth-child(8) > div {
    left: 51px;
    top: 103px;
    animation-delay: -0.4666666666666667s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(8) {
    transform: rotate(168deg);
    transform-origin: 57px 109px;
  }.ldio-2xkr1jfdtd9 div:nth-child(9) > div {
    left: 51px;
    top: 85px;
    animation-delay: -0.4s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(9) {
    transform: rotate(192deg);
    transform-origin: 57px 91px;
  }.ldio-2xkr1jfdtd9 div:nth-child(10) > div {
    left: 58px;
    top: 68px;
    animation-delay: -0.3333333333333333s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(10) {
    transform: rotate(216deg);
    transform-origin: 64px 74px;
  }.ldio-2xkr1jfdtd9 div:nth-child(11) > div {
    left: 72px;
    top: 56px;
    animation-delay: -0.26666666666666666s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(11) {
    transform: rotate(240deg);
    transform-origin: 78px 62px;
  }.ldio-2xkr1jfdtd9 div:nth-child(12) > div {
    left: 89px;
    top: 50px;
    animation-delay: -0.2s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(12) {
    transform: rotate(264deg);
    transform-origin: 95px 56px;
  }.ldio-2xkr1jfdtd9 div:nth-child(13) > div {
    left: 108px;
    top: 52px;
    animation-delay: -0.13333333333333333s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(13) {
    transform: rotate(288deg);
    transform-origin: 114px 58px;
  }.ldio-2xkr1jfdtd9 div:nth-child(14) > div {
    left: 123px;
    top: 61px;
    animation-delay: -0.06666666666666667s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(14) {
    transform: rotate(312deg);
    transform-origin: 129px 67px;
  }.ldio-2xkr1jfdtd9 div:nth-child(15) > div {
    left: 134px;
    top: 76px;
    animation-delay: 0s;
  }
  .ldio-2xkr1jfdtd9 > div:nth-child(15) {
    transform: rotate(336deg);
    transform-origin: 140px 82px;
  }
  .loadingio-spinner-spin-hj2e76b286t {
    
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    /* background: #f1f2f3; */
  }
  .ldio-2xkr1jfdtd9 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
